* {
  padding: 0;
  margin: 0;
}
:root {
  --main-bg-color: #1D3124;
  --main-text-color: #E59560;
  --second-text-color:#ffffff ;
  --second-bg-color:#F6F4E8 ;
  --thirth-bg-color:#e7e6dd;
}

.table-list{
  background-color: var(--thirth-bg-color);
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

.fixed{
 width: 300px;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(to right,
      #BACEC1,
      #BACEC1,
      #BACEC1,
      #BACEC1,
      #BACEC1);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


.card_container {
  height: 300vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.card {
  width: 400px;
  height: 300px;
  border-radius: 14px;
  padding: 20px;
  position: relative;
  background-image: linear-gradient(#F6F4E8 0%, #F6F4E8 55%, #F6F4E8 100%);
}

.card .card-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(161, 232, 255);
  z-index: 10;
  border-radius: 10px;
  padding: 15px;
  padding-top: 50px;

}

.card-container h4 {
  font-size: 26px;
  margin-bottom: 10px;
}

.card p {
  font-size: 17px;
}

.card::before {
  position: absolute;
  content: '';
  background-color:#1D3124;
  height: 35px;
  width: 35px;
  top: 3rem;
  right: -23px;
  transform: rotate(45deg);
  z-index: 10;

}


.card::after {
  position: absolute;
  content: attr(data-label);
  top: 27px;
  padding-left: 20px;
  padding: 10px;
  right: -31px;
  width: 8rem;
  background-color:#1D3124;
  z-index: 12;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  color: #fff;
}